<ng-container *ngIf="user">
  <div class="alert alert-dismissible alert-warning" *ngIf="error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p class="mb-0">{{ error }}</p>
  </div>

  <div class="d-flex flex-row justify-content-around">
    <div class="container">
      <h1>
        <span class="badge badge-pill badge-warning mb-2"
          >Profil de {{ user["nickname"] }}</span
        >
      </h1>
      <ng-container *ngIf="user.avatar">
        <img
          src="{{ user.avatar }}"
          alt="Photo de profil de {{ user['nickname'] }}"
          class="profilImage ml-3"
        />
      </ng-container>
      <ng-container *ngIf="!user.avatar">
        <img
          src="../../../assets/images/anonyme.jpg"
          alt="Photo de profil de {{ user['nickname'] }}"
          class="profilImage ml-3"
        />
      </ng-container>
    </div>
    <div class="container pt-3">
      <div *ngIf="user['booklists']">
        <h2><ins>Ses booklists disponibles</ins></h2>

        <ul class="pt-3">
          <li *ngFor="let b of user['booklists']" class="pt-2">
            <a routerLink="../../booklist/{{ b.id }}" class="pr-2">{{
              b.name
            }}</a>
            <ng-container *ngIf="b.category && b">
              <small>({{ b.category.name }})</small>
            </ng-container>
          </li>
        </ul>
      </div>

      <div *ngIf="!user['booklists']">
        <p>Aucune bookList enregistrée</p>
      </div>
    </div>
  </div>
</ng-container>
