<h2 class="display-4 text-center">
  Venez partager vos histoires sur
  <strong class="d-block">Share My Book</strong>
</h2>

<div class="d-flex flex-md-row flex-column pt-5">
  <div class="container">
    <div class="card border-warning mx-auto mb-3 text-center">
      <div class="card-header">Créez !</div>
      <div class="card-body">
        <img
          class="imagesFrontPage"
          src="/assets/images/creer.jpg"
          alt="Liste vos livres préférés"
        />
        <p class="card-text pt-2">Lister vos livres préférés</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card border-warning mx-auto mb-3 text-center">
      <div class="card-header">Trouvez !</div>
      <div class="card-body">
        <img
          class="imagesFrontPage"
          src="/assets/images/trouver.jpg"
          alt="Liste vos livres préférés"
        />
        <p class="card-text pt-2">
          Trouvez tous vos livres grâce à l'application Google Book
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card border-warning mx-auto mb-3 text-center">
      <div class="card-header">Partagez !</div>
      <div class="card-body">
        <img
          class="imagesFrontPage"
          src="/assets/images/partager.jpg"
          alt="Liste vos livres préférés"
        />
        <p class="card-text pt-2">
          Partagez vos listes avec d'autres personnes
        </p>
      </div>
    </div>
  </div>
</div>
