<ng-container *ngIf="!loading">
  <h1 class="pb-2">Rechercher votre liste de livres favorite !</h1>

  <div class="alert alert-dismissible alert-warning" *ngIf="error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p class="mb-0">{{ error }}</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <div class="input-group md-form form-sm form-2 pl-0">
      <input
        class="form-control my-0 py-1 amber-border"
        type="text"
        placeholder="Tapez le nom de votre booklist ou de votre créateur favori !"
        aria-label="Search"
        formControlName="research"
      />
      <button class="btn btn-light">
        <i class="fas fa-search text-warning" aria-hidden="true"></i>
      </button>
    </div>
    <div class="pt-4">
      <h4>Catégories :</h4>
      <ng-container *ngFor="let c of categories">
        <input
          type="checkbox"
          [id]="c.name"
          [name]="c.id"
          [formControlName]="c.name"
        />
        <label for="c.name" class="pl-1 pr-3">{{ c.name }}</label>
      </ng-container>
    </div>
  </form>

  <div class="researchResult pt-4" *ngIf="canView">
    <h3>Résultats de votre recherche</h3>
    <ul *ngIf="!havingResult">
      <li *ngFor="let booklist of filteredBooklists">
        <a routerLink="booklist/{{ booklist.id }}"
          >{{ booklist.name }}
          <small>de {{ booklist.creatorId.nickname }}</small>
        </a>
      </li>
      <li *ngFor="let user of filteredUsers">
        <a routerLink="user/{{ user.id }}">
          {{ user.nickname }} <small>(créateur)</small>
        </a>
      </li>
    </ul>
    <p class="pl-4" *ngIf="havingResult">
      Aucun résultat trouvé lors de cette recherche
    </p>
  </div>
</ng-container>
