.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.amber-border,
.input-group > .input-group-append > .input-group-text {
  border: 1px solid #ffca28;
}
.input-group > .input-group-append > .input-group-text {
  color: #ffca28;
}
