<ng-container *ngIf="user">
  <h1>Modification du mot de passe</h1>

  <div class="alert alert-dismissible alert-warning" *ngIf="error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p class="mb-0">{{ error }}</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="pt-3 pl-3">
    <div class="form-group">
      <input
        formControlName="previousPassword"
        type="password"
        class="form-control"
        [class.is-invalid]="
          form.controls['previousPassword'].invalid && submitted
        "
        placeholder="Votre ancien mot de passe"
      />
      <p
        class="invalid-feedback"
        *ngIf="form.controls['previousPassword'].hasError('required')"
      >
        L'ancien mot de passe est obligatoire.
      </p>
    </div>
    <div class="form-group">
      <input
        formControlName="newPassword"
        type="password"
        class="form-control"
        [class.is-invalid]="form.controls['newPassword'].invalid && submitted"
        placeholder="Votre nouveau mot de passe"
      />
      <p
        class="invalid-feedback"
        *ngIf="form.controls['newPassword'].hasError('required')"
      >
        Le nouveau mot de passe est obligatoire.
      </p>
      <p
        class="invalid-feedback"
        *ngIf="form.controls['newPassword'].hasError('minlength')"
      >
        Le nouveau mot de passe doit être au minimum de 5 caractères.
      </p>
    </div>
    <div class="form-group">
      <input
        formControlName="confirmation"
        type="password"
        class="form-control"
        [class.is-invalid]="form.controls['confirmation'].invalid && submitted"
        placeholder="Confirmation de votre nouveau mot de passe"
      />
      <p
        class="invalid-feedback"
        *ngIf="form.controls['confirmation'].hasError('required')"
      >
        La confirmation du nouveau mot de passe est obligatoire.
      </p>
    </div>

    <button class="btn btn-warning">Modifier mon mot de passe</button>
  </form>
</ng-container>
