<ng-container *ngIf="booklist">
  <h2>{{ booklist.name }}</h2>
  <div class="d-flex flex-row align-items-center pl-4">
    <img
      class="creatorImg"
      src="{{ booklist.creatorId.avatar }}"
      alt="{{ booklist.creatorId.nickname }}"
    />
    <a
      class="pl-2 text-warning"
      routerLink="../../user/{{ booklist.creatorId.id }}"
      ><h4>{{ booklist.creatorId.nickname }}</h4></a
    >
  </div>

  <p class="pt-3 pl-2" *ngIf="booklist.category && booklist">
    <ins>Catégorie</ins> : {{ booklist.category.name }}
  </p>

  <div class="alert alert-dismissible alert-warning" *ngIf="error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p class="mb-0">{{ error }}</p>
  </div>

  <ul class="pt-4">
    <li *ngFor="let b of booklist['books']" class="listBooks pt-4">
      <div class="row">
        <div class="col-md-4">
          <img src="{{ b.image }}" alt="{{ b.title }}" />
        </div>
        <div class="card-body col-md-8">
          <h5 class="card-title">{{ b.title }}</h5>
          <p class="card-text">Auteur : {{ b.author }}</p>
          <p class="card-text">{{ b.publicationDate | date: "dd-MM-yyyy" }}</p>
        </div>
      </div>
    </li>
  </ul>
</ng-container>
