<div class="text-center">
  <h1 class="pb-4 display-4 font-weight-bold">Contact</h1>

  <div class="d-flex flex-md-row justify-content-around flex-column mx-auto">
    <div class="card border-warning mb-3">
      <div class="card-header">
        <h5>A votre service !</h5>
      </div>
      <div class="card-body">
        <p class="card-text">
          Si vous avez la moindre question concernant notre site ou encore des
          améliorations que nous pourrions y apporter, n'hésitez pas à nous
          contacter à ces adresses.
        </p>
      </div>
    </div>
    <div class="w-50">
      <ul class="p-md-4 p-0">
        <li><i class="fab fa-facebook"></i>share_my_book</li>
        <li><i class="fab fa-twitter-square"></i>@sharemybook</li>
        <li><i class="fab fa-github"></i>share_my_book</li>
        <li><i class="far fa-envelope"></i>share_my_book@gmail.com</li>
      </ul>
    </div>
  </div>
</div>
