<ng-container *ngIf="previousBooklist">
  <h1 class="text-center mb-4">Modifier une bookList</h1>

  <div class="alert alert-dismissible alert-warning" *ngIf="error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p class="mb-0">{{ error }}</p>
  </div>

  <div class="d-flex flex-row" *ngIf="previousBooklist">
    <div class="container">
      <form [formGroup]="booklistForm" (ngSubmit)="handleSubmit()">
        <div class="mx-auto">
          <div class="form-group form-row">
            <label class="col-form-label">Nom :</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="Nom de votre bookList"
                formControlName="name"
                [class.is-invalid]="
                  booklistForm.controls['name'].invalid && submitted
                "
              />
              <p
                class="invalid-feedback"
                *ngIf="booklistForm.controls['name'].hasError('required')"
              >
                Le nom de la booklist est obligatoire.
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label">Catégorie (optionnel) : </label>
            <select formControlName="category" class="form-control">
              <option
                *ngFor="let category of categories"
                [ngValue]="category['id']"
                >{{ category.name }}</option
              >
            </select>
          </div>
          <div class="form-group">
            <label class="col-form-label">Statut :</label>
            <select formControlName="status" class="form-control">
              <option *ngFor="let s of status" [ngValue]="s">{{ s }}</option>
            </select>
          </div>
          <div>
            <div
              id="list-input border"
              *ngIf="booksChosenList && booksChosenList.length === 0"
            >
              Vous n'avez pas encore ajouté de livre dans cette bookList
            </div>
            <div *ngIf="booksChosenList && booksChosenList.length !== 0">
              <label class="col-form-label"> Liste des livres :</label>
              <ul id="list-input border" *ngFor="let book of booksChosenList">
                <li>
                  <strong>{{ book.title }}</strong> de
                  {{ book.author }}
                  <button
                    class="btn btn-outline-warning btn-sm"
                    (click)="deleteFromList(book)"
                  >
                    X
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <button class="btn btn-warning">Modifier</button>
        </div>
      </form>
    </div>

    <div class="container col-7">
      <form [formGroup]="researchForm" (ngSubmit)="researchBook()">
        <div class="row">
          <div class="input-group mx-auto">
            <input
              type="text"
              placeholder="Recherche ton livre ici"
              class="form-control"
              formControlName="researchInput"
            />
            <button class="btn btn-warning pl-2">Rechercher</button>
          </div>
        </div>
      </form>

      <div class="book-list pt-3">
        <h2 class="text-center">Résultat de la recherche</h2>
        <div
          id="list-output"
          class="col-lg-10"
          *ngIf="booksFromGoogleApi && booksFromGoogleApi.length"
        >
          <div class="row" *ngFor="let b of booksFromGoogleApi">
            <div class="col-md-4">
              <img src="{{ b.image }}" alt="{{ b.title }}" />
            </div>
            <div class="card-body col-md-8">
              <h5 class="card-title">{{ b.title }}</h5>
              <p class="card-text">Auteur : {{ b.author }}</p>
              <p class="card-text">{{ b.publicationDate }}</p>
              <button
                type="button"
                class="btn btn-info pt-3"
                (click)="addToList(b)"
              >
                Ajouter
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
